<html>
    <head>
     
    </head>
    <body>
       
    
                <p>Login or Register with:</p>
    
                <a href="/login" ><span class="fa fa-user"></span> Local Login</a>
                <a href="/signup" ><span class="fa fa-user"></span> Local Signup</a>
         
    </body>
</html>